// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 62.5% !important;
}

.bottom-line{
  border-top: 1px solid #DFDFDF;
  background-color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.bottom-line td{
  height: 45px;
}

.bottom-line div{
  width: 30px;
  height: 30px;
  margin: auto;
}

.reserved-place{
  height: 45px;
  position: relative;
  margin-bottom: 0px;
}